// Cores
$background-color-dark: #2d2d2d;
$primary-color-blue: #0c70f2;
$text-color-white: #fff;

// Tipografia
$font-family-base: "Poppins", sans-serif;
$font-size-base: 1.6rem;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Espaçamento
$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 3rem;

// Breakpoints
$mobileL: 586px;
$tablet: 768px;
$desktopM: 1100px;
